<!DOCTYPE html>
<html>
    <head>
        <!-- basic -->
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- mobile metas -->
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="viewport" content="initial-scale=1, maximum-scale=1">
        <!-- site metas -->
        <title>Tick Shop</title>
        <meta name="keywords" content="">
        <meta name="description" content="">
        <meta name="author" content="">
        <!-- bootstrap css -->
        <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
        <!-- style css -->
        <link rel="stylesheet" type="text/css" href="/css/cart.css">
        <!-- Responsive-->
        <link rel="stylesheet" href="/css/responsive.css">
        <!-- fevicon -->
        <link rel="icon" href="/images/Tick.png" type="/image/gif" />
        <!-- Scrollbar Custom CSS -->
        <link rel="stylesheet" href="/css/jquery.mCustomScrollbar.min.css">
        <!-- Tweaks for older IEs-->
        <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
        <!-- fonts -->
        <link href="https://fonts.googleapis.com/css?family=Poppins:400,700&display=swap" rel="stylesheet">
        <!-- font awesome -->
        <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <!--  -->
        <!-- owl stylesheets -->
        <link href="https://fonts.googleapis.com/css?family=Great+Vibes|Poppins:400,700&display=swap&subset=latin-ext" rel="stylesheet">
        <link rel="stylesheet" href="/css/owl.carousel.min.css">
        <link rel="stylesoeet" href="/css/owl.theme.default.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css" media="screen">
     </head>
     <body>
        <div class="CartContainer">
            <div class="head">
                <h1>About</h1>
            </div>
            <div class="content">
                <p>
                    Shop with ease: Our user-friendly shopping page offers a seamless shopping experience, 
                    allowing you to browse and purchase products with ease.

                    Wide selection: Choose from a wide variety of products across multiple categories,
                    all in one convenient location.
                    
                    Secure payments: Your transactions and personal information are always secure with our trusted payment processing system.</p>
            </div>
            <div class="own">
                <h2>Owner</h2>
                <div class="name">
                    <ul>
                        <li>Rameshkrishnan</li>
                        <li>Soundar</li>
                        <li>Nishanth</li>
                        <li>Nallashivamani</li>
                    </ul>
                </div>
            </div>
            <footer>Copyrights clamied by @Tick shop</footer>
        </div>
     </body>

</html>